{% extends '__templates/general.twig' %}
{% block additionalStyles %}
	{# <link rel="stylesheet" href="css/auth.css"/> #}
	{# <link rel="stylesheet" href="css/auth-form.css"/> #}
{% endblock %}
{% block content %}
	<div>
    Success!
  </div>
{% endblock %}
