{% extends '__templates/general.twig' %}
{% block additionalStyles %}
	{# <link rel="stylesheet" href="css/auth.css"/> #}
	{# <link rel="stylesheet" href="css/auth-form.css"/> #}
{% endblock %}
{% block content %}
	<div>
		<div class="writer-container">
			<form method="POST" action="/post">
				<input type="text" placeholder="title" name="postTitle" />
				<textarea placeholder="Main Text" name="postMainText"></textarea>
				<input type="submit" value="" />
				{# <input type="submit" value=""> #}
			</form>
		</div>
  </div>
{% endblock %}
